* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
  
body {
    font-family: "Open Sans", sans-serif;
    line-height: 1.6;
    color: #333;
}
  
img {
    max-width: 100%;
    height: auto;
    display: block;
}
  
a {
    text-decoration: none;
    color: #d4a017;
}
  
ul {
    list-style: none;
}

/* ----- Header Section---- */
header {
    background-color: #333;
}
  
.company-logo {
    background-color: #d4a017;
    padding: 15px;
    text-align: left;
}
  
.company-logo img {
    max-width: 40px;
}

/* ======= Navigation Section ======= */  
nav {
    background-color: #333;
    padding: 10px 0;
    width: 100%;
}
  
nav ul {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    width: auto;
    padding-bottom: 10px;
}
  
nav ul li a {
    color: #d4a017;
    font-size: 0.9rem;
    display: block;
}
nav ul li a:hover {
    color: #333;
    background-color: #d4a017;
    padding: 4px;
    width: 100%;
}
  
.search-form {
    display: flex;
    justify-content: center;
    margin: 0px 10px 0px 10px;
}
  
.search-form label {
    display: none;
}
  
.search-form input {
    padding: 5px;
    margin: auto;
    border-radius: 4px 0 0 4px;
    border: none;
    width: 100%;
}
  
.search-form button {
    background-color: #333;
    color: #d4a017;
    border: 1px solid #d4a017;
    padding: 5px 10px;
    border-radius: 0 4px 4px 0;
    cursor: pointer;
}

/* ======= Main Content Styles ======= */
main {
    width: 100%;
}
  
section {
    padding: 20px;
}
  
h1, h2, h3, h4 {
    margin-bottom: 10px;
}
  
p {
    margin-bottom: 15px;
    font-size: 0.9rem;
    padding: 10px;
}

/* ------Banner Section ------ */
.main-banner {
    position: relative;
    display: flex;
    flex-direction: column;
    color: #fff;
    overflow: hidden;
    padding: 20px;
}
  
.main-banner img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -2;
}
  
.banner-overlay {
    position: absolute;
    top: 10;
    left: 0;
    width: 100%;
    height: 93%;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: -1;
}
  
.main-banner h1,
.main-banner p,
.main-banner a {
    position: relative;
    z-index: 1;
    margin: 0 20px;
}
  
.main-banner h1 {
    font-size: 3rem;
    font-weight: 900;
    margin-bottom: 20px;
}
  
.main-banner p {
    font-size: 1rem;
    margin-bottom: 30px;
    line-height: 1.6;
    max-width: 800px;
    margin-right: auto;
}
  
.main-banner a {
    display: inline-block;
    background-color: #e0b120;
    color: #000;
    padding: 15px 15px;
    font-weight: bold;
    border-radius: 4px;
    text-decoration: none;
    font-size: 1rem;
    max-width: 200px;
    margin-right: auto;
}
  
.main-banner a:hover {
    background-color: #e0b120;
}

/* ------About Section---- */
#about {
    display: flex;
    flex-direction: column;
    background-color: #ffecb3;
}
  
#about img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    margin-bottom: 15px;
}

/* -----Services Section ----- */
.service-container {
    background-color: #ffecb3;
    margin-bottom: 30px;
}
  
#services h2 {
    margin-bottom: 20px;
}
  
.service-container img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    margin-bottom: 15px;
}
  
.service-container h3 {
    font-size: 1.2rem;
    padding: 10px;
}
  
.service-container a {
    display: inline-block;
    background-color: #333;
    color: #ffffff;
    padding: 5px 10px;
    border-radius: 4px;
    font-size: 0.8rem;
    font-weight: bold;
    margin: 0px 0px 10px 10px;
}

/*-----Philosophy Section ----- */
.philosophy {
    position: relative;
    color: white;
    padding: 0;
    height: 250px;
}
  
.philosophy img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -2;
}
  
.philosophy h2,
.philosophy p,
.philosophy a {
    position: absolute;
    left: 20px;
    right: 20px;
}
  
.philosophy h2 {
    top: 50px;
}
  
.philosophy p {
    top: 90px;
    font-size: 0.85rem;
}
.philosophy a {
    bottom: 30px;
    background-color: rgba(51, 51, 51, 0.6);
    color: #ffffff;
    padding: 8px 15px;
    border-radius: 4px;
    font-weight: bold;
    font-size: 0.9rem;
    width: fit-content;
    border: 1px solid #d4a017;
}

/* ======= Team Section ======= */
.team-member {
    margin-bottom: 30px;
    background-color: #ffecb3;
}
  
.team-member img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    margin-bottom: 15px;
}
  
.team-member h3 {
    font-size: 1.2rem;
    margin: 10px;
}
  
.team-member h4 {
    font-size: 0.9rem;
    font-weight: bold;
    color: #000000;
    margin: 10px;
    border-bottom: 2px solid #d4a017;
}

/* ------ Contact Section-----*/
#contact {
    display: flex;
    flex-direction: column;
}
  
#contact h2 {
    margin-bottom: 20px;
}
  
#contact h3 {
    margin-bottom: 15px;
}
  
.contact-form {
    margin-bottom: 30px;
}
  
.contact-form label {
    display: block;
    margin-bottom: 5px;
    font-size: 0.9rem;
}
  
.contact-form input,
.contact-form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ddd;
    border-radius: 4px;
}
  
.contact-form button {
    background-color: #333;
    color: #d4a017;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 0.9rem;
}

/* ------Business Hours Section -----*/
.business-hours {
    margin-bottom: 30px;
}
  
.business-hours h2 {
    font-size: 1.2rem;
}
  
table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 15px;
}
  
table th {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: center;
    font-size: 0.9rem;
}
table td {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: left;
    font-size: 0.9rem;
    font-weight: 600;
}
  
table th {
    background-color: #ffecb3;
}

/* ---- Location Section ---- */
.studio-location {
    margin-bottom: 30px;
}
  
.studio-location iframe {
    width: 100%;
    height: 250px;
    border: none;
}

/* ------Footer Section ----- */
footer {
    background-color: #333;
    color: #d4a017;
    text-align: left;
    padding: 20px;
    font-size: 0.8rem;
}
  
footer p {
    margin-bottom: 5px;
}
.image-source {
    color: #ffecb3;
    text-decoration: underline;
}

/* ----- Icons Section ----- */
.fa-caret-right {
    margin-left: 5px;
}

/* ----  Media Queries ----- */
@media (min-width: 760px) {
    header {
      display: flex;
      justify-content: space-evenly;
      padding: 0 20px;
      max-width: 100%;
    }
  
    .company-logo {
      background-color: transparent;
      padding: 10px 0;
    }
    
    nav {
      background-color: transparent;
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 10px;
    }
    
    nav ul {
      display: flex;
      flex-direction: row;
      list-style: none;
      margin: 0;
      padding: 0;
      margin-right: 20px;
    }
    
    nav ul li {
      margin: 0 10px;
    }
    
    nav ul li a {
      color: #fff;
      text-decoration: none;
      padding: 10px;
      display: block;
    }
    
    nav ul li a:hover {
      color: #333;
      background-color: #d4a017;
      padding: 10px;
    }
    
    .search-form {
      display: flex;
      align-items: center;
    }
    
    .search-form label {
      display: none;
    }
    
    .search-form input {
      padding: 5px 10px;
      border-radius: 4px 0 0 4px;
      border: none;
      width: 250px;
    }
    
    .search-form button {
      background-color: #333;
      border: 1px solid #d4a017;
      padding: 5px 15px;
      border-radius: 0 4px 4px 0;
      cursor: pointer;
      color: #d4a017;
    }
    
    .banner-overlay {
      position: absolute;
      top: 10;
      left: 10px;
      right: 20px;
      width: 97%;
      height: 93%;
      background-color: rgba(0, 0, 0, 0.6);
      z-index: -1;
      padding-right: 80px;
      padding-left: 80px;
    }
    
    #about {
      flex-direction: row;
      align-items: center;
    }
  
    #about img {
      width: 50%;
      margin-right: 20px;
      margin-bottom: 0;
    }
  
    #services {
      display: grid;
      grid-template-columns: repeat(6, 1fr);
      gap: 20px;
    }
    
    .digital-solutions {
      grid-column: 1/4;
    }
    
    .brand-strategy {
      grid-column: 4/7;
    }
    
    .media-production {
      grid-column: 1/3;
    }
    
    .development {
      grid-column: 3/5;
    }
    
    .design {
      grid-column: 5/7;
    }
  
    #services h2 {
      grid-column: 1 / -1;
    }
  
    .team-member {
      display: flex;
      align-items: flex-start;
    }
  
    .team-member img {
      width: 40%;
      margin-right: 20px;
      margin-bottom: 0;
    }
  
    #contact {
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 20px;
      max-width: 1100px;
      margin: auto;
    }
    
    .contact-form {
      grid-column: 1/2;
    }
    
    .studio-location {
      grid-column: 2/3;
      grid-row: 2/3;
      max-height: 100px;
    }
    
    .business-hours {
      grid-column: 1/3;
    }
    
    #contact h2 {
      grid-column: 1 / -1;
    }
}
  
@media (min-width: 760px) {
    header {
      display: flex;
      justify-content: space-evenly;
      padding: 0 20px;
      max-width: 100%;
    }
  
    .company-logo {
      background-color: transparent;
      padding: 10px 0;
    }
  
    nav {
      background-color: transparent;
      display: flex;
      align-items: right;
      max-width: 100%;
    }
  
    nav ul {
      flex-direction: row;
      margin-right: 20px;
    }
  
    nav ul li {
      margin: 0 10px;
    }
  
    .search-form {
      display: flex;
      align-items: center;
      max-width: 100%;
    }
  
    .search-form label {
      display: none;
    }
  
    .search-form input {
      padding: 5px;
      border-radius: 4px 0 0 4px;
      border: none;
    }
  
    .search-form button {
      background-color: #333;
      border: 1px solid #d4a017;
      padding: 5px 10px;
      border-radius: 0 4px 4px 0;
      cursor: pointer;
      max-width: 900px;
    }
    
    .main-banner {
      padding-right: 80px;
      padding-left: 80px;
    }
    
    .banner-overlay {
      position: absolute;
      top: 10;
      left: 20px;
      right: 20px;
      width: 97%;
      height: 90%;
      background-color: rgba(0, 0, 0, 0.6);
      z-index: -1;
      padding-right: 80px;
      padding-left: 80px;
    }
    
    #about {
      flex-direction: row;
      align-items: center;
      padding-right: 80px;
      padding-left: 80px;
    }
  
    #about img {
      width: 50%;
      margin-right: 20px;
      margin-bottom: 0;
    }
  
    #services {
      display: grid;
      grid-template-columns: repeat(6, 1fr);
      gap: 20px;
      max-width: 1000px;
      margin: auto;
    }
    
    .digital-solutions {
      grid-column: 1/4;
    }
    
    .brand-strategy {
      grid-column: 4/7;
    }
    
    .media-production {
      grid-column: 1/3;
    }
    
    .development {
      grid-column: 3/5;
    }
    
    .design {
      grid-column: 5/7;
    }
  
    #services h2 {
      grid-column: 1 / -1;
    }
  
    #team {
      display: grid;
      grid-template-columns: 1fr 1fr;
    }
  
    .team-member img {
      width: 40%;
      margin-right: 20px;
      margin-bottom: 0;
    }
  
    #contact {
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 20px;
      max-width: 1100px;
      margin: auto;
    }
    
    .contact-form {
      grid-column: 1/2;
    }
    
    .studio-location {
      grid-column: 2/3;
      grid-row: 2/3;
      max-height: 100px;
    }
    
    .business-hours {
      grid-column: 1/3;
    }
    
    #contact h2 {
      grid-column: 1 / -1;
    }
}